@keyframes gradientBackground {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
  .animated-gradient {
    background: linear-gradient(90deg, rgba(255,74,6,0.5) 0%, rgba(184,87,255,0.5) 78%, rgba(255,13,142,0.5) 100%);
    background-size: 400% 400%;
    animation: gradientBackground 5s ease infinite;
  }
  
  /* Default size */
.logo {
  height: 17px; /* Adjust based on your default size preference */
  width: auto;
}

/* For tablets */
@media (min-width: 768px) {
  .logo {
    height: 35px; /* Adjust based on your preference */
  }
}

/* For desktops */
@media (min-width: 1024px) {
  .logo {
    height: 40px; /* Adjust based on your preference */
  }
}
